<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/coffee.png" alt="coffee recipe icon">
    <h4>Cold Black Coffee</h4>
    <p>Coffee Powder, Water, Ice</p>
  </li>
  <li class="recipe">
    <img src="/coffee.png" alt="coffee recipe icon">
    <h4>Hot Black Coffee</h4>
    <p>Coffee Powder, Hot Water</p>
  </li>
  <li class="recipe">
    <img src="/coffee.png" alt="coffee recipe icon">
    <h4>Sweet Cold or Hot Coffee</h4>
    <p>Coffee Powder, Sugar, Hot Water / Water, Ice</p>
  </li>
  <li class="recipe">
    <img src="/coffee.png" alt="coffee recipe icon">
    <h4>Cold Black Coffee</h4>
    <p>Coffee Powder, Water, Ice</p>
  </li>
  <li class="recipe">
    <img src="/coffee.png" alt="coffee recipe icon">
    <h4>Hot Black Coffee</h4>
    <p>Coffee Powder, Hot Water</p>
  </li>
  <li class="recipe">
    <img src="/coffee.png" alt="coffee recipe icon">
    <h4>Sweet Cold or Hot Coffee</h4>
    <p>Coffee Powder, Sugar, Hot Water / Water, Ice</p>
  </li>

<%- include('partials/footer'); -%>